.main_image {
    position: relative;
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 39%, rgba(0,0,0,0) 41%, rgba(0,0,0,0.65) 100%) #1c1c1c;
    background-size: 100% cover;
    background-position: center center;
  }

  .main_image_txt {
      position: absolute;
      max-width: 500px;
      bottom: 2rem;
      margin-left: 2rem;
  }

  .main_image_txt h2 {
      color: #fff;
  }

  .main_image_txt p {
      color: #fff;
      font-size: 1rem;
  }